<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ pageMaster.php?url=$1 [QSA,L]
    DirectoryIndex pageMaster.php
</IfModule>
